doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Blackznzn Co.
    meta(name="description", content="")
    meta(name="author", content="Mohammed Elzanaty")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="_assets/css/style.css")
    link(rel="shourtcut icon" href="_assets/images/favicon.ico"  type="image/icon")
  body    
    
    // header 
    header.bird-box 
      .back-bird
      .logo
      .fore-bird

    section.content
      article
        h1 Unique Style
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        hr 
        .clothes-pics
          .row.imgs-row 
            figure.columns.four
              img(src="_assets/images/models/model1.jpg", alt="model")
              figcaption 
                span Price - <strong>$100</strong>
                a.button(href="#") buy now
            figure.columns.four
              img(src="_assets/images/models/model2.jpg", alt="model")
              figcaption 
                span Price - <strong>$410</strong>
                a.button(href="#") buy now
            figure.columns.four
              img(src="_assets/images/models/model3.jpg", alt="model")
              figcaption 
                span Price - <strong>$200</strong>
                a.button(href="#") buy now
          .row.imgs-row 
            figure.columns.four
              img(src="_assets/images/models/model4.jpg", alt="model")
              figcaption 
                span Price - <strong>$500</strong>
                a.button(href="#") buy now
            figure.columns.four
              img(src="_assets/images/models/model5.jpg", alt="model")
              figcaption 
                span Price - <strong>$120</strong>
                a.button(href="#") buy now
            figure.columns.four
              img(src="_assets/images/models/model6.jpg", alt="model")
              figcaption 
                span Price - <strong>$340</strong>
                a.button(href="#") buy now
          .row.imgs-row 
            figure.columns.four
              img(src="_assets/images/models/model7.jpg", alt="model")
              figcaption 
                span Price - <strong>$150</strong>
                a.button(href="#") buy now
            figure.columns.four
              img(src="_assets/images/models/model8.jpg", alt="model")
              figcaption 
                span Price - <strong>$400</strong>
                a.button(href="#") buy now
            figure.columns.four
              img(src="_assets/images/models/model9.jpg", alt="model")
              figcaption 
                span Price - <strong>$200</strong>
                a.button(href="#") buy now

        h1 Unique Style
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        hr 

        .large-window
          .window-tint
            .promo-text 
              | Fall Suits<strong><span>from</span> $99</strong>
              a.window-cta(href="#")  Shop now

        h1 Rich History
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        hr 

        .widgets.row
          .columns.four.widget(class="wow slideInLeft" data-wow-offset="10" data-wow-duration="1s" data-wow-delay="1s")
            h5 Post Title 
            img(src="_assets/images/posts/one.jpg", alt="") 
            p Incididunt ut labore et dolore magna.
            a.button(href="#") Read More 
          .columns.four.widget
            h5 Post Title 
            img(src="_assets/images/posts/two.jpg", alt="") 
            p Incididunt ut labore et dolore magna.
            a.button(href="#") Read More  
          .columns.four.widget(class="wow slideInRight" data-wow-offset="10" data-wow-duration="1s" data-wow-delay="1s")
            h5 Post Title 
            img(src="_assets/images/posts/three.jpg", alt="") 
            p Incididunt ut labore et dolore magna.
            a.button(href="#") Read More        
        
        
    footer
      .row.footer-stuff
        .columns.three
          strong FIND US ON
          ul.social
            li: a(href="#"): <i class="fab fa-facebook"></i>
            li: a(href="#"): <i class="fab fa-youtube"></i>
            li: a(href="#"): <i class="fab fa-pinterest-square"></i>
            li: a(href="#"): <i class="fab fa-linkedin"></i>
        
        .columns.three
          strong OTHER SHOPS
          ul
            li: a(href="#") Red Robin
            li: a(href="#") Emerald Eagle
            li: a(href="#") Crimson Crane
            li: a(href="#") Auburn Abbot
        
        .columns.six
          strong Sign Up for the newsletter 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          form.row
            .columns.eight
              input.u-full-width(type="email" placeholder="Your Email")
            .columns.four
              input.button-primary(type="submit")
        
                                  
                
    script(src="_assets/js/jquery-2.1.3.min.js")
    script(src="_assets/js/wow.min.js")
    script(src="_assets/js/functions.js")
      